<mat-drawer-container class="login-content">
  <mat-grid-list rowHeight="600px" cols="1">
    <mat-grid-tile>
      <form #myForm="ngForm" (submit)="onSubmit(myForm)">

        <mat-form-field>
          <input type="text" name="login" matInput placeholder="Login" [(ngModel)]="login">
        </mat-form-field>

        <mat-form-field>
          <input type="password" name="password" matInput placeholder="Mot de passe" [(ngModel)]="password">
        </mat-form-field>

        <input type="submit">

      </form>
    </mat-grid-tile>
  </mat-grid-list>
</mat-drawer-container>

